.tutorial-slide {
  text-align: center;
  padding: 1rem;
}

.tutorial-slide h2 {
  margin: 0;
  color:#005fa3;
}

.tutorial-slide p {
  /* margin-bottom: 2rem; */
  line-height: 1.6;
  color:black;
}

.tutorial-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

/* アイコンボタン共通スタイル */
.tutorial-nav button:hover:not(:disabled) {
  color: #005fa3;
}

.tutorial-nav button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.tutorial-nav button {
  all: unset;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 1.8rem;
  color: #0077cc;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
}

.step-indicator {
  text-align: right;
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 10px;
  color: #005fa3;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease, color 0.3s ease;
}

/* 無効時はグレーアウトしてクリック不可 */
.icon-button:disabled {
  color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

/* ホバー時（有効なとき） */
.icon-button:hover:enabled {
  color: #555;
}