.user-stats, .user-title {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

/* styles/Weight.css などに追記 */
.user-page {
  padding-bottom: 80px; /* ← ここを追加 */
}
