.user-stats,
.user-title {
  display: flex;
  justify-content: space-around;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.user-title {
  margin-top: 1rem;
}

.user-page {
  padding-bottom: 80px; /* ← ここを追加 */
}

.user-page p {
  display: flex;
  justify-content: center;
}

.user-page-data {
  font-size: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* さらにスマホ画面用にメディアクエリで微調整 */
@media (max-width: 400px) {
  .user-stats {
    font-size: 1.2rem;
  }
}
